.container {
  width: 650px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  margin-top: 15px;
  border-radius: 12px;
  background-color: var(--color-container);
  box-shadow: var(--box-shadow);
}

.text {
  text-shadow: var(--text-shadow);
}
