.container {
  display: flex;
  gap: 10px;
}

.button {
  padding: 5px;
  border: none;
  border-radius: 8px;
  color: var(--color-white);
  background-color: var(--color-green);
  &:hover {
    background-color: var(--color-button-hover);
  }
}
